body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#3b5998;
 }
.colorBtn{
    padding: 1rem 1.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
   }
.colorBtn:hover{
    background: rgb(0,0,0);
   }
.container{
    margin: 1 rem 2 rem;
    padding: 0.5rem 1.25rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
   }